* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url("../webfonts"); /* IE9 Compat Modes */
    src: url("../webfonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../webfonts/WorkSans-Medium.otf") format("opentype"), /* Open Type Font */ url("../webfonts/WorkSans-Medium.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../webfonts/WorkSans-Medium.woff") format("woff"), /* Modern Browsers */ url("../webfonts/WorkSans-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url("../webfonts/WorkSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../webfonts/WorkSans-Regular.otf") format("opentype"), /* Open Type Font */ url("../webfonts/WorkSans-Regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../webfonts/WorkSans-Regular.woff") format("woff"), /* Modern Browsers */ url("../webfonts/WorkSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-SemiBold";
    src: url("../webfonts/WorkSans-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/WorkSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../webfonts/WorkSans-SemiBold.otf") format("opentype"),
        /* Open Type Font */ url("../webfonts/WorkSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */ url("../webfonts/WorkSans-SemiBold.woff") format("woff"),
        /* Modern Browsers */ url("../webfonts/WorkSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "WorkSans-SemiBold", sans-serif;
}
p,
a {
    font-family: "WorkSans-Regular";
}
li {
    font-family: "WorkSans-Medium";
}

/*css para menú*/

#navbarNav li {
    padding: 20px;

}
#navbarNav li a {
    color: #424242;
    position: relative;
    display: block;
    text-align: center;
}

.navigation{background: #fefefe;}

.topcolors {
    background-color: #9864a5;
    background-image: linear-gradient(to right, #9864a5, #b36c98, #5bafd8, #0158a7);
}
#navbarNav li a:hover {
    color: #0158a7;
}
.navbar-nav a.nav-link:hover:after {
    width: 100%;
}
.navbar-nav a.nav-link:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    background-color: #b56492;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 11;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 100%;
    -webkit-box-shadow: 0 0.1rem 0.3rem 0 rgba(0,0,0,.1);
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0,0,0,.1);
}

.dropdown-menu{ 
    background-color: #165da9!important;
    border-radius: 0 0 20px 20px!important;
    width: 50%;
    overflow: hidden;
    padding-bottom: 0!important;
    margin-top: 0px!important;
    margin-top: 0px!important;
}
.dropdown-menu a{ white-space: pre-line;
    text-align: right!important;
    color: #fff!important;}

.dropdown-item:focus, .dropdown-item:hover
{
 background-color: #79c3e1D9!important;
}

.header2 {
    position: fixed;

    padding: 5px 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    padding-top: 0;
    margin-top: 0;

}
header .navbar {
    margin: 0;
    padding: 0;
}
.header2 .navbar {
    margin: 0px 0;
}
.header2 img {
    width: 50%;
}
.header2 #navbarNav li {
    padding: 10px;
}
.container-fluid {
    overflow-x: hidden;
}

.banner .text-cotiza {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90%;
    line-height: 1.33;
    font-size: 1.125rem;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.text-1 {
    text-align: left;
}
.text-2 {
    text-align: center;
}
.text-3 {
    text-align: right;
}
.banner {
    height: 715px;
    max-height: 715px;
    overflow: hidden;
    margin-top: 120px;
}
.banner img {
    width: 100%;
    height: auto;
}
@supports (object-fit: cover) {
    .banner img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.box {
    padding-top: 28%;
    padding-bottom: 28%;
    background-color: #0158a7;
    border-radius: 15px;
    margin-top: -70px;
    color: #ffff;
    font-weight: bold;
}
.content-box {
    width: 80%;
    margin-right: auto !important;
    margin-left: auto !important;
}
#boxes {
    overflow: visible;
    margin-bottom: 0px !important;
    padding-bottom: 10% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
    background-image: url("../images/box.png");
    background-attachment: fixed;
}





.myblog h3 {
    position: relative;
    color: #fff;
    font-size: 1.1rem;
}

.myblog a {
    position: relative;
}
.date {
    background-color: #0265b5;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    border: 1px solid #004996;
    padding: 4px 7px;
    border-radius: 10px;
    display: inline-block;
}
.container-link {
    width: 100%!important;
    background-color: #165da9;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
    background-image: url("../images/background-link.png");
}
.text-1,
.text-2 {
    color: #165da9;
}
.text-3 {
    color: #9365a6;
    margin-bottom: 5%;
}
.btn-blog {
    width: 35%;
    margin-bottom: 5%;
    display: block;
    text-align: center;
    color: #fff;
    padding: 1.5%;
    background-image: linear-gradient(to right, #5bafd8, #0158a7);
    border-radius: 15px 15px 15px 15px;
    text-decoration: none !important;
}
.btn-cotiza {
    display: block;
    text-align: center;
    color: #fff;
    padding: 1.5%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, #5bafd8, #0158a7);
    border-radius: 15px 15px 15px 15px;
    text-decoration: none !important;
}
.btn-w {
    display: block;
    text-align: center;
    color: #fff;
    padding: 1.5%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, #5bafd8, #0158a7);
    border-radius: 15px 15px 15px 15px;
    text-decoration: none !important;
    display: inline-block;
}
.personas:hover div#personas {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    background: linear-gradient(to top right, #9864a5, #b36c98, #0158a7, #0158a7);
    z-index: 10;
}

.content-box div#personas {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.fianzas:hover div#fianzas {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    background: linear-gradient(to top right, #9864a5, #b36c98, #0158a7, #0158a7);
    z-index: 10;
}

.content-box div#fianzas {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.automovil:hover div#automovil {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    background: linear-gradient(to top right, #9864a5, #b36c98, #0158a7, #0158a7);
    z-index: 10;
}

.automovil div#automovil {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.patrimoniales:hover div#patrimoniales {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    background: linear-gradient(to top right, #9864a5, #b36c98, #0158a7, #0158a7);
    z-index: 10;
}

.patrimoniales div#patrimoniales {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.box a {
    color: #fff;
    text-decoration: none;
}
.box:hover a {
    text-decoration: none;
    color: #ffff !important;
    /*font-size: 25px;*/
}
.extranet select {
    width: 30% !important;
    display: inline-block;
    background-color: #eef4fe;
    border: none;
}
.extranet select:focus {
    background-color: #eef4fe;
    box-shadow: none;
}
.extranet label {
    display: block !important;
    color: #335274;
    font-weight: bold;
}
.container-link .row {
    padding: 5%;
    width: 80%;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-top: 2%;
    padding-bottom: 2%;
 

}
.container-link h4 {
    font-size: 1rem;
    color: #fff;
}
.container-link p {
    text-align: justify;
    color: #fff;
    font-size: 12px;
    line-height: 2;
}
.container-link li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/list.png) no-repeat 50% #009fe3;
    border-radius: 50%;
    margin-bottom: -2px;
    margin-right: 6px;
    margin-left: -22px;
}
.container-link li {
    color: #fff;
    font-size: 12px;
    line-height: 2;
    list-style-type: none;
    margin-bottom: 6%;
}
.container-link .row div {
    padding: 2%;
}
.small,
small {
    display: block;
    color: #fff;
}
footer .greybar {
    padding: 5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.extranet {
    text-align: left;
}
.greybar h2 {
    color: #fff;
    font-size: 32px;
}
.greybar p {
    color: #fff;
}
.pagar {
    width: 50%;
    left: 0;
    position: absolute;
    padding: 12%;
    border-radius: 0px 0px 25px 25px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color: #165da9;

}

/*cambios menú responsive*/

.dropleft{
    margin-left: 37%;
    display: none!important;
}

.closebtn{
    display: none;
}

.collapse-list {
    display: inline;
}

.logopeq {
    display: none;
}

.toggle {
    display: none!important;
}

.rightMenu {
    display: none;
}

.topcolors2 {
    display: none;
}

.mobile-overwall {
    visibility: hidden;
}
.banner .image{height: 715px;}

.blog1:before {
    content: "";
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 4, 7, 0.3);
}
.blog2:before{content: "";
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 4, 7, 0.7);}

.blog3:before{
    content: "";
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 4, 7, 0.3);
}
.card-img-overlay{
    top: 50%!important;
}
.extranet h3{color: #165da9;}
.extranet h1{
    font-size: 3rem!important;
    color: #165da9;
}
.list-group-item img{   
     float: left;
    margin-right: 5px;
    width: 80px;}
.list-group-item{
    background-color: transparent!important;
    border: none!important;
}
.list-group p {margin-bottom: 0;}
.list-group{
    padding: 0!important;
    margin: 0!important;}
.oficinas{
    text-decoration: none;
    color: #79c3e1D9!important;
    font-size: 12px;
}
.oficinas:hover{
    color: #79c3e1D9!important;
    text-decoration: none!important;
}
.horarios{width: 100%;}
.horarios td{ 
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    color: #79c3e1D9!important;
    font-size: 12px;
}
footer{width: 100%; background-color: #424242;}

.btn-contacto{  
 padding: 5%;
}
.flotante{  position: fixed; z-index: 999999999999999999;bottom: 50%; right: 1%;text-align: center;}
.flotante img{width: 60%;}

.btn-contacto img{border-radius: 10px;}
.cintillo p{font-size: 12px;}
.socialmedia-container a{color:#fff;}
.cintillo{    background-color: #FFF!important;}
.greybar .fs p{font-size: 25px;font-weight: 200;margin: 0!important;}
/* css glosario */

.seguros .card-img-overlay{
    bottom: 5%!important;
    top: auto!important;
}
.card-img-overlay h3{color: #165da9;}
.glosary{
    padding: 5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto!important;
    margin-right: auto!important;
}

 .btn-link span.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/menos.png) no-repeat center center;
    border-radius: 10px;
}

.collapsed span.icon{
    background: url(../images/mas.png) no-repeat center center;
}
.glosary .card-header p{display: inline-block;font-size: 25px;}
.glosary .card{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px!important;
    border-color: #165da9!important;
}
.glosary .card-header{ background-color: transparent!important;}
.glosary .card-header {padding: 1.2rem 1.25rem!important;border:none!important;}
.glosary .active{ background-color: #165da9!important; color: #FFF; transition: 0.4s;}
.glosary .accordion .card-body{text-align: justify;}
 
 .btn.focus, .btn:focus {box-shadow: none!important;}

 /* css Nuestra Historia*/
 .content-historia{
    padding-left: 0%!important;
    padding-right: 0!important;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 0%;
 }
.col-historia {
    padding-left: 15%!important;
    padding-right: 3%!important;
    padding-top: 4%!important;
}
.history-blue{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #165da9;
}

   .containt-img-card{
    margin-top: -14%!important;
    padding: 5%;
    width: 80%;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-top: 0%;
    padding-bottom: 3%;
   }
   .dinamic-text{
    padding: 5%;
    width: 80%;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-top: 0%;
    padding-bottom: 1%;}
    .btn-read-more{
        padding: 5%;
        background-color: #165da9;
        color:#FFF;
    }
.nuestra-historia .card{
    border-radius: 25px!important;
}
.nuestra-historia .card-img-top{border-radius: 25px 25px 0 0 !important;}
.nuestra-historia .card-title{ text-align: center; color: #165da9;}
.col-historia h1{    text-align: center;color: #165da9;font-size: 1.8rem;}
.btn-read-more{
    display: block;
    text-align: center;
    color: #fff!important;
    padding: 1.5%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, #5bafd8, #0158a7);
    border-radius: 15px 15px 15px 15px;
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
}
.nuestra-historia p{text-align: justify!important;}
.esvisible{display:flex;}
.es0culto{display: none;}
.btn-cotiza:hover{color: #FFF;}
.myblog a:hover{color:#fff;text-decoration: none;}
.home .card-img-overlay h3 {
    color: #FFF;
}
.btn-w:hover{color: #FFF;}
.nuestra-historia .cintillo p{text-align: center!important;}
.modal0ficina .modal-header{ padding: 3rem 5rem!important;border-bottom:none!important;    position: relative;}

 /* select*/

 content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}
.content-select{
	max-width: 250px;
    position: relative;
    display: inline-block;
    width: 60%;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #eef4fe;;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
background-color: #eef4fe;
}
.modal-body label {display:block!important;    color: #335274;
    font-weight: bold;
    font-size: 1.2rem;}
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #eef4fe;;
	border-bottom:4px solid #eef4fe;;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.modal0ficina .line{  
     height: 5px;
    width: 35%;
    position: absolute;
    background: #b36c98;
    bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
}
.modal-title{  color: #165da9;
    font-weight: bold;    width: 100%;
    text-align: center;}

.modal0ficina .modal-body{padding: 1rem 5rem 4rem!important;width: 100%;
    text-align: center;}

 .OficinasSearch .modal-header{padding-top: 1rem!important;  padding-bottom: 0!important;border: none!important;}
 .OficinasSearch .line{ 
    height: 5px;
    width: 35%;
    position: absolute;
    background: #b36c98;
    top: 60px;
    left: 0;
 }
 
.OficinasSearch .modal-body{padding: 1rem 3rem 3rem!important;}
.OficinasSearch .modal-body i{ 
     color: #0265b5;
    font-size: 25px!important;
    padding: 10px;
    width: 30px;
    text-align: center;
    display: table-cell!important;
}
.OficinasSearch .modal-body p{ 
   display: table-cell!important;
}
.iconos-modal{  
     text-align: center;
    padding-top: 3rem;}
.iconos-modal img{padding: 5%;}
.OficinasSearch .modal-title{text-align:left!important;}
.title-aliados{
    color: #165da9;
    padding: 5%;
    width: 80%;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-top: 2%;
    padding-bottom: 2%;}
.content-box-aliados{    padding: 5%;
    width: 60%;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-top: 0.5%;
    padding-bottom: 0.5%;}
.content-box-aliados .btn{
    background: rgba(22,93,169,1);
    background: -moz-linear-gradient(-45deg, rgba(22,93,169,1) 0%, rgba(22,93,169,1) 49%, rgba(37,103,174,1) 50%, rgba(37,103,174,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(22,93,169,1)), color-stop(49%, rgba(22,93,169,1)), color-stop(50%, rgba(37,103,174,1)), color-stop(100%, rgba(37,103,174,1)));
    background: -webkit-linear-gradient(-45deg, rgba(22,93,169,1) 0%, rgba(22,93,169,1) 49%, rgba(37,103,174,1) 50%, rgba(37,103,174,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(22,93,169,1) 0%, rgba(22,93,169,1) 49%, rgba(37,103,174,1) 50%, rgba(37,103,174,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(22,93,169,1) 0%, rgba(22,93,169,1) 49%, rgba(37,103,174,1) 50%, rgba(37,103,174,1) 100%);
    background: linear-gradient(135deg, rgba(22,93,169,1) 0%, rgba(22,93,169,1) 49%, rgba(37,103,174,1) 50%, rgba(37,103,174,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165da9', endColorstr='#2567ae', GradientType=1 );
    padding: 40%!important;
    transition: transform .2s;
}

.content-box-aliados .btn:hover{
    transform: scale(1.05);
}

div.dataTables_wrapper div.dataTables_filter{float:right}
div.dataTables_wrapper div.dataTables_filter input{
    background-color: #eef4fe;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    padding: 0.4rem;
}
div.dataTables_wrapper div.dataTables_filter input:focus{
    outline: none !important;
}
.titulo-table h4{text-align: center;
    display: inline;
    font-weight: bold;
    color: #165da9;
    font-size: 1.9rem;
}
.titulo-table h2{color:#165da9}
.titulo-table h1 {
    color:#165da9;
    margin-left: 5rem;
}
.image-allies {
    margin-left: 1rem;
    margin-top: -0.5rem;
}
.modal-table .modal-header{
    padding: 1rem 4rem;
    border-bottom: none!important;
}
.modal-table .line{ 
    height: 5px;
    width: 84%;
    position: absolute;
    background: #b36c98;
    top: 120px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
 }

/* Modal styles */
.find-branch {
    margin-right: 12rem;
}

.modal-content  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
}

.phone-number {
    color: #212529 !important;
    text-decoration: none !important;
}

.phone-number:hover {
    font-weight: bold;
}

.border-rounded {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
}

.office-title {
    margin-top: -0.3rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}

.modal-header .close {
    width: 10%;
    margin-right: -4rem !important;
    cursor: pointer;
}

.close {
    opacity: 0.7 !important;
}

.close:hover {
    opacity: 1 !important;
}

/* Line styles */
.line.appeared {
    top: 5.5rem;
}

.line.appeared.allies {
    top: 7.5rem;
}

/* Datatable styles */
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display:none;
}

table.dataTable thead .sorting_desc::after {
    display:none;
}

table.dataTable thead .sorting {
    background-image: url(../images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url(../images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}

.thead-datatable {
    background-color: #daeef7;
    color: #797678;
}

.tbody-datatable {
    color: #858689;
}

.table-datatable {
    width: 100%;
    font-size: 12px;
}

.banner-seguros.glossary {
    margin-top: -4rem;
}

/* Card styles */
.card-body > ul > li {
    font-family: "WorkSans-Regular", sans-serif;
    margin-left: 2rem;
}

.card-body > .card-text {
    text-align: left !important;
}

.card-body > ul {
    list-style: none;
}

.card-body > ul > li::before{
    content: "\2022";
    color: #ba5389;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.containt-img-card .card {
    -webkit-box-shadow: 0px 5px 5px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 5px 5px 1px rgba(204,204,204,1);
    box-shadow: 0px 5px 5px 1px rgba(204,204,204,1);
}

.col-historia p{text-align: justify!important;}
.dinamic-text p{text-align: justify!important;}
.containt-img-card p{text-align: justify!important;}
df-messenger {
    --df-messenger-bot-message: transparent;
    --df-messenger-button-titlebar-color:#165da9;;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-minimized-chat-close-icon-color: white;
   }

/* Allies styles */
.text-allies {
    color: white;
}

.content-allies {
    display: flex;
}